@import url('https://fonts.googleapis.com/css?family=Roboto:300');
.loading-screen{
  width: 1146px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 11;
}
.title-info{
  display: block;
  text-align: center;
  height: 96px;
  margin-bottom: 18px;
}
.title-info > h4 {
  text-shadow: 1px 1px 1px #000000;
  font-weight: 300;
}
.title-info > h1 {
  text-shadow: 1px 1px 1px #000000;
  font-size: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 8px 13px 8px !important;
}
.progress-bar-n{
  display: inline-block;
  position: relative;
  left: 0;
  float: left;
  width: 100%;
  height: 58px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}
.progress-bar-n > h2{
  padding: 6px 12px;
  position: absolute;
  width: 100%;
  font-size: 34px;
}
.progress-bar-n > h2 > .progresstext {
  padding: 12px 12px;
  font-size: 17px;
  float: right;
}
.progress-bar-n-inner{
  position: absolute;
  background-color: #4286f4;
  width: 5%;
  height: 58px;
  display: inline-block;
  overflow: hidden;
}
.progress-bar-n-inner > div{
  width: 1146px;
  position: absolute;
}
.progress-bar-n-inner > div > h2{
  padding: 6px 12px;
  position: absolute;
  width: 100%;
  font-size: 34px;
}
.progress-bar-n-inner > div > h2 > .progresstext{
  padding: 12px 12px;
  font-size: 17px;
  float: right;
}
.display-ad{
  display: inline-block;
  position: relative;
  left: 0;
  float: left;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}

@media screen and (max-width: 1152px), screen and (max-height: 745px) {
  .loading-screen{
    width: 882px;
  }
  .title-info{
    height: 74px;
    margin-bottom: 14px;
  }
  .title-info > h1 {
    font-size: 38px;
  }
  .progress-bar-n{
    height: 45px;
  }
  .progress-bar-n > h2{
    padding: 5px 9px;
    font-size: 26px;
  }
  .progress-bar-n > h2 > .progresstext{
    padding: 9px 9px;
    font-size: 13px;
  }
  .progress-bar-n-inner{
    height: 58px;
  }
  .progress-bar-n-inner > div{
    width: 882px;
    position: absolute;
  }
  .progress-bar-n-inner > div > h2{
    padding: 5px 9px;
    font-size: 26px;
  }
  .progress-bar-n-inner > div > h2 > .progresstext{
    padding: 9px 9px;
    font-size: 13px;
  }
  .display-ad{
  	margin-top: 13px;
  }
}